body{
    background-color: black;
}
#Sun{
    width: 80px;
    height: 80px;
    margin: 475px auto auto;
    background-color: #ffff00;
    background-size: cover;
    display: grid;
    border-radius: 100%;
    box-shadow: 0px 0px 30px #ffff00;
}
#Mercury{
    width: 5px;
    height: 5px;
    margin: auto;
    background-color: white;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 5px white;
    animation: orbitMercury 15s infinite linear;
}
#Venus{
    width: 8px;
    height: 8px;
    margin: -45px auto auto auto;
    background-color: white;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 5px white;
    animation: orbitVenus 25s infinite linear;
}
#Earth{
    width: 10px;
    height: 10px;
    margin: -10px auto auto auto;
    background-color: white;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 5px white;
    animation: orbitEarth 40s infinite linear;
    display: grid;
}
#Month{
    width: 3px;
    height: 3px;
    margin: auto;
    background-color: white;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 3px white;
    animation: orbitMonth 10s infinite linear;
}
#Mars{
    width: 7px;
    height: 7px;
    margin: -7px auto auto auto;
    background-color: white;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 5px white;
    animation: orbitMars 50s infinite linear;
}
#Jupiter{
    width: 25px;
    height: 25px;
    margin: -15px auto auto auto;
    background-color: white;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 5px white;
    animation: orbitJupiter 75s infinite linear;
}
#Saturn{
    width: 20px;
    height: 20px;
    margin: -25px auto auto auto;
    background-color: white;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 5px white;
    animation: orbitSaturn 100s infinite linear;
}
#Uranus{
    width: 17px;
    height: 17px;
    margin: -17px auto auto auto;
    background-color: white;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 5px white;
    animation: orbitUranus 150s infinite linear;
}
#Neptune{
    width: 15px;
    height: 15px;
    margin: -15px auto auto auto;
    background-color: white;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 5px white;
    animation: orbitNeptune 200s infinite linear;
}
@keyframes orbitMercury{
    from{transform: rotate(0deg) translateX(80px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(80px) rotate(-360deg);}
}
@keyframes orbitVenus{
    from{transform: rotate(0deg) translateX(130px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(130px) rotate(-360deg);}
}
@keyframes orbitEarth{
    from{transform: rotate(0deg) translateX(195px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(195px) rotate(-360deg);}
}
@keyframes orbitMonth{
    from{transform: rotate(0deg) translateX(30px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(30px) rotate(-360deg);}
}
@keyframes orbitMars{
    from{transform: rotate(0deg) translateX(250px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(250px) rotate(-360deg);}
}
@keyframes orbitJupiter{
    from{transform: rotate(0deg) translateX(345px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(345px) rotate(-360deg);}
}
@keyframes orbitSaturn{
    from{transform: rotate(0deg) translateX(395px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(395px) rotate(-360deg);}
}
@keyframes orbitUranus{
    from{transform: rotate(0deg) translateX(445px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(445px) rotate(-360deg);}
}
@keyframes orbitNeptune{
    from{transform: rotate(0deg) translateX(495px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(495px) rotate(-360deg);}
}